sdx-accordion:not(.hydrated),
sdx-accordion-item:not(.hydrated),
sdx-accordion-item-body:not(.hydrated),
sdx-accordion-item-header:not(.hydrated),
sdx-accordion-item-section:not(.hydrated),
sdx-animation:not(.hydrated),
sdx-arrow:not(.hydrated),
sdx-backdrop:not(.hydrated),
sdx-button:not(.hydrated),
sdx-card:not(.hydrated),
sdx-code-editor:not(.hydrated),
sdx-color-picker:not(.hydrated),
sdx-content-slider:not(.hydrated),
sdx-dialog:not(.hydrated),
sdx-dialog-content:not(.hydrated),
sdx-dialog-toggle:not(.hydrated),
sdx-dummy:not(.hydrated),
sdx-expand-and-collapse:not(.hydrated),
sdx-figma:not(.hydrated),
sdx-filter:not(.hydrated),
sdx-flip:not(.hydrated),
sdx-header:not(.hydrated),
sdx-assets:not(.hydrated),
sdx-header-left-hand-menu:not(.hydrated),
sdx-header-menu:not(.hydrated),
sdx-icon:not(.hydrated),
sdx-input:not(.hydrated),
sdx-input-group:not(.hydrated),
sdx-input-item:not(.hydrated),
sdx-input-mask:not(.hydrated),
sdx-loading-spinner:not(.hydrated),
sdx-menu-flyout:not(.hydrated),
sdx-menu-flyout-content:not(.hydrated),
sdx-menu-flyout-cta:not(.hydrated),
sdx-menu-flyout-list:not(.hydrated),
sdx-menu-flyout-list-item:not(.hydrated),
sdx-menu-flyout-toggle:not(.hydrated),
sdx-numeric-stepper:not(.hydrated),
sdx-option-picker:not(.hydrated),
sdx-pie-chart:not(.hydrated),
sdx-price:not(.hydrated),
sdx-progress-full:not(.hydrated),
sdx-progress-full-step:not(.hydrated),
sdx-ribbon:not(.hydrated),
sdx-scroll-to-top:not(.hydrated),
sdx-scroll-view:not(.hydrated),
sdx-search:not(.hydrated),
sdx-select:not(.hydrated),
sdx-select-list:not(.hydrated),
sdx-select-optgroup:not(.hydrated),
sdx-select-option:not(.hydrated),
sdx-show-more:not(.hydrated),
sdx-sticker-circle:not(.hydrated),
sdx-stock-counter:not(.hydrated),
sdx-tabs:not(.hydrated),
sdx-tabs-item:not(.hydrated),
sdx-tag:not(.hydrated),
sdx-teaser:not(.hydrated),
sdx-text-truncate:not(.hydrated),
sdx-time-counter:not(.hydrated),
sdx-trap-focus:not(.hydrated),
sdx-validation-message:not(.hydrated) { visibility: hidden; }