// Sets an element to the full width of the document, omitting parent width
// -------------------------
@mixin full-width() {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}
