// This file is used for the legacy component "background".
// However, it was agreed to continue with providing the background helper
// classes instead that can be found in the "sdx/utilities" folder.

.bg {
  color: $color-gray;

  // Light, Grey Background
  &--light,
  &--gray {
    .primary {
      &-navy {
        color: $color-navy;
      }

      &-gray {
        color: $color-gray;
      }
    }

    .secondary {
      color: $color-gray-tint-4;
    }
  }

  // Light Background
  &--light {
    background-color: $color-white;
    color: $color-gray;
  }

  // Grey Background
  &--gray {
    background-color: $color-aluminum;
    color: $color-gray;
  }

  &--gray-tint-4 {
    background-color: $color-gray-tint-4;
  }

  // Dark Background
  &--dark {
    background-color: $color-navy;
    color: $color-white;
  }
}
