//
// Margin Dev Utilities
// --------------------------------------------------

@import "whitespace";
@include whitespace(margin);

.margin-bottom-1--clear {
  margin-bottom: -$baseline !important;
}

.margin-bottom-2--clear {
  margin-bottom: -$baseline-2 !important;
}

.margin-bottom-3--clear {
  margin-bottom: -$baseline-3 !important;
}

.margin-bottom-4--clear {
  margin-bottom: -$baseline-4 !important;
}

.margin-bottom-5--clear {
  margin-bottom: -$baseline-5 !important;
}

.margin-bottom-6--clear {
  margin-bottom: -$baseline-6 !important;
}
